<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogSample-ASPNET5-ViewsInAzureStorage</title>
</head>
<body>
    <div>
        <h1>@ViewData["Title"] - BlogSample-ASPNET5-ViewsInAzureStorage</h1>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>Check out the details of this and other solutions on <a href="https://wwww.sbull.co.uk">https://wwww.sbull.co.uk</a></p>
        </footer>
    </div>
</body>
</html>
