@model BlogSample_ASPNET5_ViewsInAzureStorage.Models.WelcomeModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome back @Model.DisplayName</h2>
<p>You have @Model.NumberOfMessages new messages since we last saw you on @Model.LastSeen</p>